@import url(https://fonts.googleapis.com/css?family=Covered+By+Your+Grace);
@import url(https://fonts.googleapis.com/css?family=Josefin+Sans);

#days {
  font-size: 150px;
  color: #db4844;
}
#hours {
  font-size: 150px;
  color: #f07c22;
}
#minutes {
  font-size: 150px;
  color: #f6da74;
}

#seconds {
  font-size: 150px;
  color: #abcd58;
}

div {
  display: inline-block;
  line-height: 1;
  padding: 20px;
  font-size: 40px;
}

span {
  display: block;
  font-size: 40px;
  color: white;
}

body {
  text-align: center;
  font-family: 'Josefin Sans', cursive;
  color: white;
  background: #222;
}

#leremos{
   font-size: 28px;
}

#comentario-title{
   margin-top: 5%;
}